<div style="text-align:center; margin-top: 100px;">
  <h2>Log In</h2>

  <%= form_with url: login_path, local: true do |form| %>

    <% if flash[:alert] %>
  <div style="color:red; text-align:center; margin-bottom:20px;">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

    <div style="margin:10px 0;">
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </div>

    <div style="margin:10px 0;">
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </div>

    <%= form.submit "Log In", class: "btn btn-primary" %>
  <% end %>
</div>
