<h1>Track: <%= @track.title %></h1>
<p>
  Artist: <%= @track.artist.name %><br>
  Year: <%= @track.year %><br>
  BPM: <%= @track.bpm %>
</p>

<h2>Samples Used</h2>

<% if @track.sampled_tracks.any? %>
  <ul>
    <% @track.sampled_tracks.each do |source| %>
      <li><%= link_to source.title, track_path(source) %> - 
      <%= link_to source.artist.name, artist_path(source) %></li>
    <% end %>
  </ul>
<% else %>
  <p>None</p>
<% end %>   

<h2>Sampled By</h2>

<% if @track.sampled_by_tracks.any? %>
  <ul>
    <% @track.sampled_by_tracks.each do |derived| %>
      <li><%= link_to derived.title, track_path(derived) %> - 
      <%= link_to derived.artist.name, artist_path(derived) %></li>
    <% end %>
  </ul>
<% else %>
  <p>None</p>
<% end %>    

<h2>Comments</h2>
<ul>
  <% @track.comments.each do |comment| %>
    <li><%= comment.user.username %>: <%= comment.body %></li>
  <% end %>
</ul>