<div style="text-align:center; margin-top: 100px;">
  <h2>Sign Up</h2>

<% if @user.errors.any? %>
  <div style="color:red; text-align:center; margin-bottom: 20px;">
    <h3><%= pluralize(@user.errors.count, "error") %> prevented sign up:</h3>
    <ul style="list-style:none; padding:0;">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_with model: @user, url: signup_path, local: true do |form| %>
    <div style="margin:10px 0;">
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </div>

    <div style="margin:10px 0;">
      <%= form.label :email %><br>
      <%= form.email_field :email %>
    </div>

    <div style="margin:10px 0;">
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </div>

    <div style="margin:10px 0;">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </div>

    <%= form.submit "Create Account", class: "btn btn-primary" %>
  <% end %>
</div>